<template>
    <Frame>
        <Page>
            <TabView
                :selectedIndex="selectedIndex"
                tabTextFontSize="17"
                selectedTabTextColor="#00aa00"
            >
                <TabViewItem title="Players" textTransform="uppercase">
                    <Frame id="frame-players">
                        <Players />
                    </Frame>
                </TabViewItem>
                <TabViewItem title="Groups" textTransform="uppercase">
                    <Frame id="frame-groups">
                        <Groups />
                    </Frame>
                </TabViewItem>
            </TabView>
        </Page>
    </Frame>
</template>

<script>
import Groups from '~/views/Groups'
import Players from '~/views/Players'

export default {
    components: {
        Groups,
        Players
    },
    data() {
        return {
            selectedIndex: 1
        }
    },
    methods: {
        onTapPlayer(args) {
            console.log(`tapped player ${args.value}`)
        }
    }
}
</script>

<style scoped>
TabViewItem {
    font-size: 20;
}
</style>
