<template>
  <Frame id="frame-modal-new-group">
    <Page>
      <ActionBar title="New Group" android:flat="true">
        <ActionItem text="Cancel" @tap="onCancel" />
        <ActionItem text="Done" @tap="onDone" ios.position="right" />
      </ActionBar>
      
      <StackLayout class="group-details">
        <TextField class="input" v-model="location" hint="Location" />
        
        <GridLayout rows="auto" columns="*, *">
          <DatePickerField
            row="0"
            col="0"
            class="input"
            hint="Date"
            :date="selectedDate"
            @dateChange="onDateChange"
          />
          <TimePickerField
            row="0"
            col="1"
            class="input"
            hint="Time"
            minuteInterval="15"
            timeFormat="H:mm"
            locale="en_GB"
            :time="selectedTime"
            @timeChange="onTimeChange"
          />
        </GridLayout>

        <Label class="divider" text=" " />

        <StackLayout>
          <Button class="list-button" text="Players" @tap="onTapChoosePlayers">
            <FormattedString>
              <Span text="Players" />
              <Span text=" (" />
              <Span :text="selectedPlayers.length" />
              <Span text=")" />
            </FormattedString>
          </Button>
          
          <RadListView
            class="player-list"
            ref="listViewGroupPlayers"
            for="player in selectedPlayers"
            swipeActions="true"
            @itemSwipeProgressStarted="onSwipeStarted"
          >
            <v-template>
              <GridLayout columns="auto, *" class="list-group-item">
                <Label
                  col="0"
                  class="player-avatar"
                  :text="getPlayerAvatar(player)"
                />
                <Label col="1" :text="getFullName(player)" class="player-name" />
              </GridLayout>
            </v-template>

            <v-template name="itemswipe">
              <GridLayout columns="*, auto">
                <StackLayout id="remove-view" col="1" class="swipe-item right" orientation="horizontal" @tap="onRightSwipeTap">
                  <Label text="Remove" verticalAlignment="center" horizontalAlignment="center" />
                </StackLayout>
              </GridLayout>
            </v-template>
          </RadListView>
        </StackLayout>
      </StackLayout>
    </Page>
  </Frame>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
import Groups from '~/views/Groups'
import NewGroupPlayers from '~/components/NewGroupPlayers'
import { getFullName, getPlayerAvatar } from '../utils/players'
import moment from 'moment'

export default {
  data() {
    return {
      location: '',
      selectedDate: null,
      selectedTime: null
    }
  },
  computed: {
    ...mapState([
      'players',
      'selectedPlayers'
    ]),
    remainingPlayers() {
      return this.players.filter(player => !this.selectedPlayers.includes(player))
    },
  },
  methods: {
    ...mapMutations([
      'setSelectedPlayers'
    ]),
    getFullName,
    getPlayerAvatar,
    onCancel() {
      this.setSelectedPlayers([])
      this.$modal.close()
    },
    onDone() {
    },
    onNext() {
    },
    onDateChange(args) {
      this.selectedDate = args.value
    },
    onLeftSwipeTap({ object }) {
      console.log('left action tapped')
      this.$refs.listViewGroupPlayers.notifySwipeToExecuteFinished()
    },
    onRightSwipeTap({ object }) {
      console.log('right action tapped')
      this.$refs.listViewGroupPlayers.notifySwipeToExecuteFinished()
    },
    onSwipeStarted({ data, object }) {
      console.log('Swipe started')
      const swipeLimits = data.swipeLimits
      const swipeView = object
      const rightItem = swipeView.getViewById('remove-view')
      swipeLimits.left = 0
      swipeLimits.right = rightItem.getMeasuredWidth()
      swipeLimits.threshold = rightItem.getMeasuredWidth() / 2
    },
    onTimeChange(args) {
      this.selectedTime = args.value
    },
    onTapChoosePlayers() {
      this.$navigateTo(NewGroupPlayers, {
        frame: 'frame-modal-new-group',
        props: {
          players: this.remainingPlayers
        }
      })
    }
  }
}
</script>

<style scoped>
.group-details {
  padding: 5 0;
}
.input {
  margin: 0 10;
  padding: 5 0;
}
.divider {
  margin: 5 0;
  height: 30;
  background-color: #eeeeee;
  border-top-width: 1;
  border-bottom-width: 1;
  border-top-color: #dddddd;
  border-bottom-color: #dddddd;
}
.list-button {
  margin: 0 10;
  padding: 5 0 10 0;
  font-size: 17;
  color: #000000;
  text-align: left;
}
.player-list {
  margin: 0 10;
  border-top-width: 1;
  border-top-color: #dddddd;
}
.list-group-item {
  background-color: #ffffff;
}
.swipe-item.right {
  padding: 0 15;
  color: #ffffff;
  font-weight: 600;
  background-color: red;
}
</style>
