<template>
  <Page>
    <ActionBar title="Choose Players">
      <ActionItem text="Done" ios.position="right" @tap="onTapDone" />
    </ActionBar>

    <StackLayout>
      <RadListView
        v-if="players.length > 0"
        ref="listViewPlayers"
        for="player in players"
        selectionBehavior="Press"
        :multipleSelection="true"
        @itemSelected="onItemSelected"
        @itemDeselected="onItemDeselected"
      >
        <v-template>
          <GridLayout columns="auto, *" :class="['list-group-item', { selected: isSelected(player) }]">
            <Label
              col="0"
              class="player-avatar"
              :text="getPlayerAvatar(player)"
            />
            <Label col="1" :text="getFullName(player)" class="player-name" />
          </GridLayout>
        </v-template>
      </RadListView>

      <Label class="no-players" v-else text="No players to show" />
    </StackLayout>
  </Page>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
import { getFullName, getPlayerAvatar } from '../utils/players'

export default {
  props: ['players'],
  data() {
    return {
      chosenPlayers: []
    }
  },
  methods: {
    ...mapMutations([
      'addSelectedPlayers'
    ]),
    getFullName,
    getPlayerAvatar,
    isSelected(player) {
      return this.$refs.listViewPlayers.nativeView.isItemSelected(player)
    },
    onItemSelected({ index, object }) {
      const player = this.players[index]
      this.chosenPlayers.push(player)
      console.log(`ITEM SELECTED: ${player.firstName} ${player.lastName}`)
    },
    onItemDeselected({ index, object }) {
      const player = this.players[index]
      this.chosenPlayers.splice(this.chosenPlayers.indexOf(player), 1)
      console.log(`ITEM DESELECTED: ${player.firstName} ${player.lastName}`)
    },
    onTapDone() {
      this.addSelectedPlayers(this.chosenPlayers)
      this.$navigateBack()
    }
  }
}
</script>

<style scoped>
.selected {
  background-color: #00cc00;
}
.no-players {
  padding: 10;
  color: rgba(0, 0, 0, 0.3)
}
</style>
