// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling

.list-group-item {
  padding: 10;
}
.player-avatar {
  width: 40;
  height: 40;
  border-width: 1;
  border-color: #eeeeee;
  border-radius: 50;
  text-align: center;
  color: #ffffff;
  background-color: #cccccc;
}
.player-name {
  margin: 10
}
