<template>
    <Page>
        <ActionBar title="Groups" android:flat="true">
            <ActionItem ios.position="right" ios.systemIcon="4" @tap="onTapNewGroup" />
        </ActionBar>

        <GridLayout>
            <ListView
                for="group in groups"
                @itemTap="onItemTap"
            >
                <v-template>
                    <GridLayout class="list-group" columns="auto" rows="auto, auto">
                        <Label
                            row="0"
                            col="0"
                            :text="group.location"
                            class="location"
                        />
                        <Label
                            row="1"
                            col="0"
                            :text="getFormattedDate(group.date)"
                        />
                    </GridLayout>
                </v-template>
            </ListView>
        </GridLayout>
    </Page>
</template>

<script>
import { mapState } from 'vuex'
import NewGroup from '~/components/NewGroup'
import moment from 'moment'

export default {
    data() {
        return {
            groups: [
                {
                    location: 'Park Tudor High School',
                    date: new Date(2019, 6, 14, 9, 0)
                },
                {
                    location: 'Park Tudor High School',
                    date: new Date(2019, 6, 7, 9, 0)
                }
            ]
        }
    },
    methods: {
        onTapNewGroup() {
            this.$showModal(NewGroup)
        },
        onItemTap(event) {
            console.log('TAPPED: ', event.index)
        },
        getFormattedDate(date) {
            return moment(date).format('ddd, MMMM D, YYYY @ H:mm')
        }
    }
}
</script>

<style scoped>
.btn-new-group {
    width: 40%;
    margin: 30 0 20 0;
    padding: 10 0;
    color: white;
    background-color: #00aa00;
    border-radius: 6;
    font-size: 17;
    font-weight: 600;
}

.list-group {
    padding: 10;
}

.location {
    font-weight: 600;
}
</style>
