<template>
    <Page>
        <ActionBar title="Players" android:flat="true"/>

        <ListView class="list-group" for="player in players" @itemTap="onItemTap"
            style="height:1250px">
            <v-template>
                <GridLayout columns="auto, *" class="list-group-item">
                    <Label col="0" :text="getPlayerAvatar(player)" class="player-avatar" />
                    <Label col="1" :text="getFullName(player)" class="player-name" />
                </GridLayout>
            </v-template>
        </ListView>
    </Page>
</template>

<script>
import { mapState } from 'vuex'
import { getFullName, getPlayerAvatar } from '@/utils/players'

export default {
    data() {
        return {}
    },
    computed: {
        ...mapState([
            'players'
        ])
    },
    methods: {
        getFullName,
        getPlayerAvatar,
        onItemTap() {}
    }
}
</script>

<style scoped>
</style>
